---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
## Instructor
Online Communication & Personal Relationships	Spring 2021

Teaching Assistant 
Theory and Practice of Persuasion	Spring 2023
Introduction to Quantitative Research in Communication	Fall 2022
Introduction to Quantitative Research in Communication	Fall 2021
Online Communication & Personal Relationships	Fall 2020

Other Teaching Service
Guest Lecturer: Seminar in Computer-Mediated Communication (Graduate Level)
Guest Lecturer: Introduction to Quantitative Research in Communication (Undergraduate Level)
Grader: Online Communication & Personal Relationships X4


{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
